.bio-wrapper{
    margin-top: 9rem;
    margin-bottom: 9rem;
    flex-direction: column;
    background-color: #FFF;

}

.bio-box{
    flex-direction: column;
    box-shadow: 8px 1.5px 2.5px #E5E7E9;
}

.bio-title{
    font-size: 3rem;
    color: #E58F27;


}

.bio{
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}
