.initials{
    font-family: 'Bevan', cursive;
    font-size: 1.75rem !important;
    color: #E58F27 !important;
    margin-left: 1rem;
}


.top-nav{
    padding:2rem 1rem !important;
    background: #0a0a0a;

}

.top-links{
    color: #E58F27 !important;
    background-color: inherit;
    border: none;
}

.top-links:hover{
    color: #000 !important;
    background-color: #E58F27 !important;

}

.top-nav-links{
    padding-right: 5rem;
    align-items: center;
    font-size: 20px;
}

.navbar-light .navbar-toggler{
    background-color:#E58F27;
}

.navbar-light .navbar-toggler-icon{
    background-color: #E58F27;
}