.initials{
    font-family: 'Bevan', cursive;
    font-size: 1.75rem !important;
    color: #E5A027 !important;
    margin-left: 1rem;
}


.top-nav{
    padding:2rem 1rem !important;

}

.top-links{
    color: #E5A027 !important;
    background-color: inherit;
    border: none;
}

.top-links:hover{
    box-shadow:0px 0px 25px #E5E7E9 !important;
}

.top-nav-links{
    padding-right: 5rem;
    align-items: center;
    font-size: 20px;
}
