.projects-wrapper{
    padding-top: 9rem;
    padding-bottom: 9rem;
    flex-direction: column;
}

.projects-title-box{
    flex-direction: column;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
}

.projects-title{
    font-size: 3rem;
    color: #E58F27;
}

.project-box{
    flex-direction: column;
    text-align: center;
}

.tech-list{
    justify-content: space-around;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}