.projects-wrapper{
    padding-top: 4rem;
    flex-direction: column;
}

.projects-title-box{
    flex-direction: column;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
    margin-bottom: 2rem;
}

.projects-title{
    font-size: 3rem;
    color: #E58F27;
}

.project-title{
    font-size: 1.5rem;
    text-align: left !important;
}

.project-btn{
    margin: 1rem;
}

.project-link{
    color:#FFF;
}

.project-link:hover{
    color: #E58F27;
}

.project-box{
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #E5E7E9;
}

.tech-list{
    justify-content: space-around;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}