.skill-wrapper{
    padding-top: 9rem;
    padding-bottom: 9rem;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url("https://images.unsplash.com/photo-1515825838458-f2a94b20105a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") center/cover;

}

.skill-title-box{
    flex-direction: column;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
}

.skill-title{
    font-size: 3rem;
    color: #E58F27;


}

.bio{
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

.list{
    padding-left: 7.25rem;
    padding-right: 7.25rem;
    flex-wrap: wrap;
}

.skill-item{
    color: #FFF;
    font-size: 1.5rem;
    display: flex;
    margin: 3.5rem;
    
}


